---
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  return paginate(allPosts, {
    pageSize: 3,
  });
}
const { page } = Astro.props;

console.log(page);
---

<Layout title="Artigos decrescimento">
  <PostList posts={page.data} />
  <p>
    {page.url.prev && <a href={page.url.prev}>anterior</a>}

    {page.url.next && <a href={page.url.next}>seguinte</a>}
  </p>
</Layout>
