---
import { getCollection, getEntry } from "astro:content";
import Authors from "../../components/Authors.astro";
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
  const allBlogPosts = (await getCollection("posts")).map((post) => ({
    params: { slug: post.slug },
    slug: post.slug,
    data: {
      title: post.data.title,
    },
  }));
  return paginate(allBlogPosts, { pageSize: 10 });
}

const { page } = Astro.props;
console.log(page);
---

<Layout title="Artigos decrescimento">
  <PostList posts={page.data} />
  <p>
    {page.url.prev && <a href={page.url.prev}>anterior</a>}

    {page.url.next && <a href={page.url.next}>seguinte</a>}
  </p>
</Layout>
