---
import Member from "./Member.astro";

const members = await Astro.glob("../pages/members/*.md");
---

<main>
  <div class="grid">
    {members.map((m) => <Member frontmatter={m.frontmatter} url={m.url} />)}
  </div>
</main>
