---
import { getCollection } from "astro:content";
import Member from "./Member.astro";
const members = await getCollection("members");
---

<main>
  <div class="grid">
    {members.map((m) => <Member slug={m.slug} />)}
  </div>
</main>
