---
import { getCollection } from "astro:content";

export interface Props {
  posts: Array<{
    url: string;
    frontmatter: {
      title: string;
    };
  }>;
}

const { posts } = Astro.props;
---

<main>
  <ul role="list" class="link-card-grid">
    {
      posts.map((post) => {
        return (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        );
      })
    }
  </ul>
</main>
