---
import { getCollection } from "astro:content";

export interface Props {
  posts: Array<{
    slug: string;
    data: {
      title: string;
    };
  }>;
}

const { posts } = Astro.props;
---

<main>
  <ul role="list" class="link-card-grid">
    {
      posts.map((post) => {
        return (
          <li>
            <img src={`/posts/${post.slug}/feature_image700.png`} alt="" />
            <a href={"/posts/" + post.slug}>{post.data.title}</a>
          </li>
        );
      })
    }
  </ul>
</main>

<style>
  img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4610c0;
    margin-bottom: 5px;
    background-blend-mode: exclusion;
  }
</style>
