---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            <img src="/logo_dark_theme.png" alt="Rede para o Decrescimento" />
          </li>
        </ul>
        <ul>
          <li><a href="/posts/1">Início</a></li>
          <li><a href="/decrescimento">Decrescimento</a></li>
          <li><a href="/about">Sobre Nós</a></li>
          <li><a href="/agenda">Agenda</a></li>
          <li><a href="/members">Membros</a></li>
          <li><a href="#">Subscrever</a></li>
        </ul>
      </nav>
      <slot />
    </main>
  </body>
</html>

<style>
  img {
    max-height: 3em;
  }
</style>
